<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Seep's blog</title>
</head>
<body>
	<div>
		<h1>Welcome to my blog</h1>
		<h3>This is a blog about my experiments with coding</h3>
	</div>
	
	<div>
		<p> <em> What's my story?</em>
	 After a several years of promoting companies as a Public Relations professional, 
	 I decided to change my path and started my programming journey this year.
	 I’m enjoying making applications and becoming a part of really friendly tech community. 
	</p>
	<h2><a href="https://seepgulati.co">Know more about me</a></h2>
	</div>

	<div>
		<h2><a href="/">Django Girls Blog</a></h2>
		<h2><a href="">Read my posts</a></h2>
	</div>
</body>
</html>